.detail-hero-wrap{
    border: 1px solid;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    background-color: rgb(255, 186, 102);
    color: #fff;
}
span{
    font-size: 18px;
}
label{
    font-size: 18px;

}
input{
    font-size: 18px;
}